Features/*
Plots/*
logs/*
wandb/*
**/*.pyc
checkpoints/*
Out_Features_trimmed_with_visual_map/*
ckpt/*
results/*
Out_Features/*
Out_Features_trimmed/*
Analysis_files/audio_multimodal_matching_outputs/*
Analysis_files/audio_visual_matching_localization_outputs/*
Analysis_files/audio_visual_matching_outputs/*
Plots_4_8_12_16_24/*

Analysis_files/**/*.png

Analysis_files/**/*.csv
